.metadata
bin/
tmp/
# File extentions
*.tmp
*.bak
*.swp
*~.nib
*.exe

local.properties
.settings/
.loadpath
.recommenders
.classpath
.project
dependency-reduced-pom.xml
# Folders
**/target
**/test-output

# Locally stored "Eclipse launch configurations"
*.launch

# Specific files
